/* General styles for all menus */
.cbp-spmenu {
	background: #D83C3C;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #fff;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #C42F2F;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #E54040;
}

.cbp-spmenu a:active {
	background: #C42F2F;
	color: #fff;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1009;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #C42F2F;
	padding: 1em;
}


/* Vertical menu that slides from the left or right */


.cbp-spmenu-right {
	right: -240px;
}


.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}


/* Push classes applied to the body */


/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

}