@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
	text-decoration: none;
}

a:hover {}

.main {
	width: auto;
	margin: 33px 0;
	position: absolute;
	right: 0;
	transition: all 0.3s ease;
}

.main > section button {
	border: none;
	background: #D83C3C;
	color: #fff;
	display: block;
	cursor: pointer;
	width: 35px;
	height: 35px;
	border-radius: 5px 0 0 5px;
}

.main > section img {
    height: 23px;
}

.main > section button:hover {
	background: #E54040;
}

.main > section button.active {
	background: #C42F2F;
}

.main > section button.disabled {
	background: #aaa;
	pointer-events: none;
}

.info {
    color: rgb(255, 255, 255); 
    padding: 0.8em; 
    font-size: 1.1em; 
    font-weight: 300;
}