@media screen and (max-width: 900px){

    .logo {
	background: url(../images/logo-minimized.png) no-repeat;
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	margin: 7px;
    }

    .form-holder {
        top: 10px;
        left: 17%;
    }
    
    .form-wrapper {
	   width: 350px;
    }
    
    .form-wrapper-input {
	   width: 350px;
	   height: 36px;
       padding: 5px 40px;
    }
    
    .form-wrapper-button {
	   height: 30px;
       width: 30px;
       margin: 3px -34px;
    }

    .form-wrapper-button img {
        margin: -4px;
    }
    
    .sliderContainer {
        width: 303px;
    }

    .form-wraper-range {
	   width: 350px;
    }

    .form-wraper-amount {
        margin: 37px -34px;
        width: 30px;
    }
    
    .form-wraper-location {
	   height: 30px;
       width: 30px;
    }

    .form-wraper-location img {
        margin: -1px;
    }
    
    .optionsBtn {
	   left: 140px;
	   top: 71px;
    }
    
    .changeBtn {
	   top: 98px;
    }

    .extendShadow {
        padding: 10px;
    }
    
    .artist-input {
	   height: 30px;
    }
    
    .main > section button {
	   margin: 10px;
    }
}


@media screen and (max-width: 480px){
body {
    height: 97%;
    margin: 0px;
    padding: 0px;
    font: bold 8px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #444;
    }

    #carte {
        height: 90.5%;
    }

    .form-holder {
        top: 2px;
        left: 2px;
    }

    .form-wrapper {
        margin-top: 0;
        width: 258px;
        padding: 5px 5px 6px ;
        border-radius: 5px;
    }
    
    .form-wrapper-input {
        width: 258px;
        height: 24px;
        padding: 5px 26px;
        font: bold 10px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';     
    }   
    
    .form-wrapper-button {
        height: 20px;
        width: 20px;
        font: bold 8px/5px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
        margin: 2px -23px;
    }

    .form-wrapper-button img {
        height: 20px;
        margin: -1px -3px;
    }
    
    .form-wraper-location {
        height: 20px;
        margin: 2px;
        width: 20px;
    }

    .form-wraper-location img {
        height: 20px;
        margin: 0;
    }
    
    .form-wraper-amount {
        width: 20px;
        height: 8px;
        font: bold 5px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
        margin: 25px -23px;
    }
    
    .sliderContainer {
        width: 211px;
    }

    .form-wraper-range {
        width: 221px;
        height: 10px;
    }
    
    .ui-slider-handle {
	   top: -6px !important;
	   height: 10px !important;
	   width: 10px !important;
    }

    .logo {
        display: none;
    }

    .main > section button {
	width: 25px;
	margin: 2px 2px;
	border-radius: 6px 2px 6px 2px;
    }
    
    .main > section img {
	height: 25px;
	margin: 0 -3px;
    }
    
    .ui-autocomplete {
        width: 187px;
        font-size: 11px;
    }
    
    .ui-menu-item {
        margin: 0px 10px;
        padding: 3px 0 3px 0;
    }
    
    .optionsBtn {
        width: 70px;
        height: 8px;
        top: 44px;
        left: 100px;
    }
    
    .optionsBtn:before {
        border-width:  7px 7px 7px;
        top: -3px;
        right: 22px;
    }
    
    .extendShadow {
        padding: 5px 5px 5px;
    }
    
    .changeBtn {
        top: 62px;
        left: 100px;
    }
    
    .changeBtn:before {
        top: -3px;
        transform: rotate(90deg);
        -ms-transform:rotate(90deg); /* IE 9 */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
    }
    
    .artist-input {
        height: 18px;
        padding: 2px 5px;
    }
    
}
