
@media screen and (max-width: 900px){

    .logo {
	background: url(../images/logo-minimized.png) no-repeat;
	width: 60px;
	height: 60px;
	background-size: 60px 60px;
	margin: 7px;
    }

    .form-holder {
        top: 10px;
        left: 17%;
    }
    
    .form-wrapper {
	width: 498px;
    }
    
    .form-wrapper-input {
	width: 350px;
	height: 35px;
    }
    
    .form-wrapper-button {
	height: 35px;
    }
    
    .form-wrapper-button:before {
	
    }
    
    .form-wraper-range {
	width: 350px;
    }
    
    .form-wraper-location {
	height: 35px;
    }
    
    .location-marker {
	padding: 1px 0;
    }
    
    .optionsBtn {
	left: 215px;
	top: 71px;
    }
    
    .changeBtn {
	top: 102px;
    }
    
    .artist-input {
	height: 30px;
    }
    
    .main > section button {
	margin: 10px;
    }
}


@media screen and (max-width: 480px){
body {
    height: 97%;
    margin: 0px;
    padding: 0px;
    font: bold 8px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #444;
    }

    #carte {
        height: 90.5%;
    }

    .form-holder {
        top: 2px;
        left: 2px;
    }

    .form-wrapper {
        margin-top: 0;
        width: 258px;
        padding: 5px 5px 0px 5px ;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    
    .form-wrapper-input {
        width: 187px;
        height: 20px;
        padding: 5px 2px;
        font: bold 10px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';     
    }   
    
    .form-wrapper-button {
        height: 20px;
        width: 51px;
        font: bold 8px/5px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
    }
    
    .form-wrapper-button:before {
        border-width: 4px 4px 4px;
        top: 6px;
        left: -4px;
    }
    
    .form-wraper-location {
        height: 20px;
    }

    .location-marker {
	   width: 20px;
	   height: 20px;
	   margin-top: -4px;
    }
    
    .form-wraper-amount {
        width: 51px;
        height: 8px;
        font: bold 5px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
    }
    
    .form-wrapper-amount:before {
        border-width: 2px 2px 2px;
        top: -6px;
        left: -51px;
    }
    
    .form-wraper-range {
        width: 187px;
        height: 7px;
        margin-left: 20px;
    }
    
    .ui-slider-handle {
	top: -5px !important;
	height: 10px !important;
	width: 10px !important;
    }

    .logo {
        display: none;
    }

    .main > section button {
	width: 25px;
	margin: 2px 2px;
	border-radius: 6px 2px 6px 2px;
    }
    
    .main > section img {
	height: 25px;
	margin: 0 -3px;
    }
    
    .ui-autocomplete {
        width: 187px;
        font-size: 11px;
    }
    
    .ui-menu-item {
        margin: 0px 10px;
        padding: 3px 0 3px 0;
    }
    
    .optionsBtn {
        width: 70px;
        height: 8px;
        top: 37px;
        left: 100px;
    }
    
    .optionsBtn:before {
        border-width:  7px 7px 7px;
        top: -3px;
        right: 22px;
    }
    
    .extendShadow {
        padding: 5px 5px 5px;
    }
    
    .changeBtn {
        top: 56px;
        left: 100px;
    }
    
    .changeBtn:before {
        top: -3px;
        transform: rotate(90deg);
        -ms-transform:rotate(90deg); /* IE 9 */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
    }
    
    .artist-input {
        margin: 0px 20px;
        height: 18px;
    }
    
}