
body {
    background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);
    height: 100%;
    margin: 0px;
    padding: 0px;
    font: bold 15px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #444;
    }
    
    a {
    }
    
    /*--------------------------------------*/
    
    #carte {
    height: 84.5%;
    width:100%;
    position: absolute;
    clear: both;
    bottom: 0;
    }

    .info-window-title {
        font-size: 14px;
        font-weight: bold;
    }

    .info-window-content {
        font-size: 12px;
    }
    
    /*-------------------------------------*/
    
    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    /*-------------------------------------*/   
    
    .form-holder {
        position: absolute;
        left: 30%;
        z-index: 1000;
        height: 0;
        top: 10px;
    }

    .form-wrapper {
        transition: all 0.3s ease 0s;
        left: 350px;
        width: 588px;
        padding: 10px 10px 3px 10px;
        background: #444;
        background: rgba(0,0,0,.2);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    .form-wrapper-input {
        width: 440px;
        height: 40px;
        padding: 10px 5px;
        float: left;
        font: bold 15px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        -moz-border-radius: 0 0 0 0;
        -webkit-border-radius: 0 0 0 0;
        border-radius: 0 0 0 0;
    }
    
    .form-wrapper-input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper-input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper-input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper-input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper-button {
        overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 40px;
        width: 116px;
        font: bold 15px/40px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
        color: #fff;
        text-transform: uppercase;
        background: #d83c3c;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 0 0;
        text-shadow: 3px 3px 2px rgba(0, 0 ,0, .3);
    }
      
    .form-wrapper-button:hover{ 
        background: #e54040;
    }   
      
    .form-wrapper-button:active,
    .form-wrapper-button:focus{
        background: #c42f2f;
    }
    
    .form-wrapper-button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: 12px;
        left: -6px;
    }
    
    .form-wrapper-button:hover:before{
        border-right-color: #e54040;
    }
    
    .form-wrapper-button:focus:before{
        border-right-color: #c42f2f;
    }
    
    .form-wrapper-button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    
    .form-wraper-location {
       cursor: pointer;
       position: relative;
       overflow: visible;
       float: left;
       background: #d83c3c;
       height: 40px;
       -moz-border-radius: 3px 0 0 3px;
       -webkit-border-radius: 3px 0 0 3px;
       border-radius: 3px 0 0 3px;

    }
    
    .form-wraper-location:hover {
        background: #e54040;
    }
    
    .location-marker {
       width: 32px;
       height: 32px;
       padding-top: 4px;
    }
    
    .form-wraper-amount {
       border: 0;
       float: right;
       position: relative;
       overflow: visible;
       width: 116px;
       height: 15px;
       font: bold 10px 'Lato','lucida sans', 'trebuchet MS', 'Tahoma';
       color: #fff;
       background: #d83c3c;
       border-top: 1px solid #eee;
       border-radius: 0 0 3px 0;
        text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
       text-align: center;
    }
    
    .form-wrapper-amount:before {
        content: '';
        float: right;
        position: relative;
        border-width: 4px 4px 4px;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: -11px;
        left: -116px;
    }
    
    .form-wraper-range {
        cursor: pointer;
        border: 0;
        position: relative;
        float: left;
        width: 440px;
        height: 14px;
        border-top: 1px solid #d83c3c;
        margin-left: 32px;
        border-radius: 0 0 0 3px;
        background: #eee;
    }
    
    .form-wraper-range-extended {
        border-radius: 0;
    }
    
    .ui-autocomplete {
        width: 440px;
        cursor: pointer;
        opacity: 0.9;
        position: absolute;
        list-style-type: none;
        margin: 2px 0 0 0;
        padding: 0;
        font-size: 14px;
        color: #000;
        font-family: "Lato", "Lucida Grande", arial, sans-serif;
        background-color: #fff;
        background-color: rgba(255,255,255,0.95);
        z-index: 2;
        box-shadow: 0px 3px 2px 0px #222;
        -webkit-box-shadow: 0 2px 12px #222;
        -moz-box-shadow: 0 2px 12px #222;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
    }
    
    .ui-menu-item {
        margin: 0px 10px;
        padding: 3px 0 3px 0;
    }
    
    #ui-active-menuitem {
        padding: 1px 10px 1px 10px;
        cursor: pointer;
        background-color: #3668d9;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 64%, from(rgb(110, 129, 245)), to(rgb(62, 82, 242)));
        border-color: #3342e8;
        color: #fff;
        text-shadow: 0 1px 2px #122042;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    
    .logo-old {
        width: 200px;
        height: 90px;
        margin-top: -10;
        margin-left: 30;
    }
    
    .optionsBtn {
        z-index: 1000;
        opacity: 0.6;
        width: 100px;
        height: 10px;
        position: absolute;
        content: "";
        box-shadow: 2px 2px 2px;
        top: 76px;
        left: 250px;
        background: #fff;
        border: 5px;
        border-color: #d83c3c;
        border-radius: 0px 0px 20px 20px;
        border-style: solid solid none;
        border-width: 0 10px 0px 10px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    .optionsBtn:hover {
        background: #d83c3c;
        border-color: #fff;
        opacity: 0.8;
        box-shadow: 5px 5px 5px;
    }
    
    .optionsBtn:before {
        content: '';
        display: block;
        position: absolute;
        border-width: 8px 8px 8px;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: -3px;
        right: 35px;
        transform: rotate(270deg);
        -ms-transform:rotate(270deg); /* IE 9 */
        -webkit-transform:rotate(270deg); /* Safari and Chrome */
    }

    .optionsBtn:before:-webkit {
        top: 25px;
    }
    
    .optionsBtn:hover:before {
        border-color: transparent #fff transparent;
    }
    
    .extendShadow {
        padding: 10px 10px 12px;
    }
    
    .changeBtn {
        top: 107px;
        left: 250px;
    }
    
    .changeBtn:before {
        top: -3px;
        transform: rotate(90deg);
        -ms-transform:rotate(90deg); /* IE 9 */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
    }

    .changeBtn:before:-webkit {
        top: -35px;
    }
    
    .hiddenInput {
        display: none;
    }
    
    .showInput {
        display: inline;
    }
    
    .artist-input {
        margin: 0px 32px;
        border-radius: 0 0 4px 4px;
        border-top: 1px solid #d83c3c;
        height: 30px;
        padding: 0px 5px;
    }
    
    .logo {
        background: url(../images/logored-shadow.png) no-repeat;
        width: 200px;
        height: 90px;
        background-size: 200px 90px;
        margin: -10px 30px;
    }