<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>404 Not Found!</title>
    <link rel="stylesheet" type="text/css" href="css/404.css">
</head>
<body>
    <h1>404</h1>
    <h3>Sorry I couldn't find what your looking for</h3>
    <h4> You may find more on our site</h4>
    <a href="#">Home</a> | <a href="#">Map</a> | <a href="#">More info/Contact us</a>
</body>
</html>