<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" type="text/css" href="../css/404.css">
</head>
<body>
    <div class="content">
        <h1>404</h1>
        <h3>Sorry I couldn't find what you're looking for</h3>
        <h4> You may find more on our site</h4>
        <div class="links">
            <a href="/" title="Home">Home</a> | <a href="/m" title="Map">Map</a> | <a href="/se" title="Submit you event">Submit your event</a>
        </div>
    </div>
    <div class="footer">
        <span class="helper"></span>
        <h3>About</h3>
        <div class="info">
            <p>Le Concert d'a Cote, helps you geolocate concerts nearby. New feature, now you can submit your own event to be referenced by our site.</p>
            <p>Please feel free to contact us through the social options provided below or send an email to contact@concert-dacote.com for any feedback or support.</p>
        </div>
        <div class="widget widget0 links">
            <h4>Community</h4>
            <a href="//facebook.com/concert.dacote">Facebook</a>
            <a href="//twitter.com/ConcertDaCote">Twitter</a>
            <a href="//plus.google.com/+Concert-dacote">Google+</a>
        </div>
        <div class="widget widget1">
            <div class="logo">
                <h1>Le Concert d'a Cote</h1>
                <a href="/"><img title="Le Concert d'à Côté" src="images/logored-shadow.png" alt="Le Concert d'a Cote logo"></a>
            </div>
        </div>
        <div class="copy"><p>Copyright 2013-16. Le Concert d'à Côté</p></div>
    </div>
</body>
</html>