	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
		<h3>About</h3>
		<div class="info"><p>Le Concert d'a Cote, helps you geolocate concerts nearby. New feature, now you can submit your own event to be referenced by our site.</p><p>Please feel free to contact us through the social options provided below or send an email to contact@concert-dacote.com for any feedback or support.</p>
		<%- location %>
			<a href="/">Home</a>
			<a href="/m">View Map</a>
			<a href="/se">Submit Your Event</a>
			<h4>Community</h4>
			<a href="//facebook.com/concert.dacote">Facebook</a>
			<a href="//twitter.com/ConcertDaCote">Twitter</a>
			<a href="//plus.google.com/+Concert-dacote">Google+</a>
		</div>
		<div class="footer"><div class="info">Copyright 2013-15</div></div>
	</nav>
	<div id="fb-root"></div>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
	<!-- Used for address autocomplete -->
	<script src="//maps.google.com/maps/api/js"></script>
	<%- extra_deps %>
	<script src="js/app.js"></script>