<!DOCTYPE html>
<html lang="en">
<head>
<meta name="description" content="Le Concert d'a Cote, helps you geolocate concerts nearby. You can also use our event submit tool to get referenced" />
<meta name="keywords" content="concerts, search, geolocate, find, nearby, submit, event, upcoming, reference, europe, U.S.A, asia, pacific, australia, place, near, 151703ea239fe4a8e778" />
<meta name="author" content="Hamed" />
<title> Le Concert d'à Côté | Concerts near you </title>

<%- include('header'); %>

<%- include('tiles'); %>

<%- include('footer', {location: '<p>Recommending events based on your ip location: ' + loc + '</p>', extra_deps: ''}); %>

	<script src="//raw.githubusercontent.com/WickyNilliams/headroom.js/v0.7.0/dist/headroom.min.js"></script>
	<script>
        $(document).ready(function(){
          	$( 'body' ).addClass( 'page-loaded' );
          	//Headroom
          	var topNav = document.querySelector('#top-nav');
          	// construct an instance of Headroom, passing the element
			var headroom  = new Headroom(topNav);
			// initialise
			headroom.init();
        });
    </script>
</body>
</html>