/* ------------- FONTS --------------- */
@font-face{
    font-family: Sansation;
    src: url("../fonts/sansation/Sansation-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ---------------------------------- */

body {
    background: url("../images/dark.png");
    font-family: Sansation, Calibri, Arial, sans-serif;
    color: #eee;
    margin: 0;
}

.content {
    margin-left: 50%;
    transform: translate(-50%);
    display: block;
}

.content > h1 {
    padding-top:10%;
    font-size: 150px;
    margin-bottom: 0;
}

.content > h3 {
    margin-bottom: 0;
    text-align: left;
    margin-left: 10px;
}

.content > h4 {
    text-align: left;
    margin-top: 0;
    margin-left: 20px;
}

.links {
    margin-left: 30px;
}

.links > a {
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: #bbb;
}

.links > a:hover {
    color: #c42f2f;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #000;
    opacity: 0.3;
}

.footer h3 {
    display: inline-block;
    vertical-align: middle;
    padding: 50px;
}

.info {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

.widget {
    display: inline-block;
    vertical-align: middle;
    padding: 50px;
}

.widget0 a {
    display: block;
}

.logo {
    width: 200px;
    height: 90px;
}

.logo img {
    width: 100%;
}

.logo > h1 {
    display: none;
}

.copy::before {
    content: "";
    width: 100%;
    height: 26%;
    position: absolute;
    z-index: -1;
    background-color: #D83C3C;
    opacity: 0.2;
}

.copy p {
    padding: 2%;
    margin: 0px;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}