/* ------------- FONTS --------------- */
@font-face{
    font-family: Sansation;
    src: url("../fonts/sansation/Sansation-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ---------------------------------- */

body {
    background: url("../images/dark.png");
    font-family: Sansation, Calibri, Arial, sans-serif;
    color: #eee;
}

.logo {

}

.content {
    margin-left: 50%;
    transform: translate(-50%);
    display: inline-block;
}

h1 {
    padding-top:10%;
    font-size: 150px;
    margin-bottom: 0;
}

h3 {
    margin-bottom: 0;
    text-align: left;
    margin-left: 10px;
}

h4 {
    text-align: left;
    margin-top: 0;
    margin-left: 20px;
}

.links {
    margin-left: 30px;
}

a {
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: #bbb;
} :hover {
    color: #c42f2f;
}