/* ------------- FONTS --------------- */
@font-face{
    font-family: Sansation;
    src: url("../fonts/sansation/Sansation-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ---------------------------------- */

body {
    background: url("../images/dark.png");
    font-family: Sansation, Calibri, Arial, sans-serif;
    color: #eee;
}

.logo {
    display: inline-block;
    width: 200px;
    height: 90px;
    margin-left: 15%;
    margin-top: 20;
    vertical-align: top;
}

.logo img {
    width: 100%;
}

.logo > h1 {
    display: none;
}

.content {
    margin-left: 15%;
    transform: translate(-15%);
    display: inline-block;
}

.content > h1 {
    padding-top:10%;
    font-size: 150px;
    margin-bottom: 0;
}

.content > h3 {
    margin-bottom: 0;
    text-align: left;
    margin-left: 10px;
}

.content > h4 {
    text-align: left;
    margin-top: 0;
    margin-left: 20px;
}

.links {
    margin-left: 30px;
}

.links > a {
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: #bbb;
}

.links > a:hover {
    color: #c42f2f;
}