body {
    background: url(../images/dark.png);
}

section {
    background: #EEE none repeat scroll 0% 0%;
    padding: 3% 5% 5% 5%;
    display: block;
    width: 50%;
    margin: 0 auto;
}

button {
    margin-top: 15px;
    width: 100%;
}

.logo {
    position: fixed;
    display: inline-block;
    width: 200px;
    height: 90px;
    margin-left: 5%;
    vertical-align: top;
}

.logo img {
    width: 80%;
}

.logo > h1 {
    display: none;
}

textarea {
    max-width: 570px;
}

fieldset {
    margin-top: 10px;
}

.message {
    background: #5cb85c;
    padding: 13px 0px 1px 13px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #000 inset, 0px 0px 1px transparent;
}

#score {
    pointer-events: none;
    cursor: default;
}

#latlng {
    display: none;
}

.datepicker_table, .datepicker_timelist {
    border-spacing: initial;
    border-collapse: initial;
    box-sizing: unset;
    -moz-box-sizing: unset;
    -webkit-box-sizing: unset;
}

.datepicker_table td {
    padding: 5px;
}