@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
@font-face {
  font-family: "Flat-UI-Icons-16";
  src: url("../fonts/Flat-UI-Icons-16.eot");
  src: url("../fonts/Flat-UI-Icons-16.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons-16.woff") format("woff"), url("../fonts/Flat-UI-Icons-16.ttf") format("truetype"), url("../fonts/Flat-UI-Icons-16.svg#Flat-UI-Icons-16") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: "Flat-UI-Icons-16";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*Instead of a list of all class selectors,
 *you can use the generic selector below, but it's slower:
 *[class*="fui-"]:before { */
.fui-man-16:before, .fui-lock-16:before {
  font-family: "Flat-UI-Icons-16";
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.fui-man-16:before {
  content: "\e007"; }

.fui-lock-16:before {
  content: "\e009"; }

@font-face {
  font-family: "Flat-UI-Icons-24";
  src: url("../fonts/Flat-UI-Icons-24.eot");
  src: url("../fonts/Flat-UI-Icons-24.eot?#iefix") format("embedded-opentype"), url("../fonts/Flat-UI-Icons-24.woff") format("woff"), url("../fonts/Flat-UI-Icons-24.ttf") format("truetype"), url("../fonts/Flat-UI-Icons-24.svg#Flat-UI-Icons-24") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: "Flat-UI-Icons-24";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*Instead of a list of all class selectors,
 *you can use the generic selector below, but it's slower:
 *[class*="fui-"]:before { */
.fui-man-24:before, .fui-lock-24:before {
  font-family: "Flat-UI-Icons-24";
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.fui-man-24:before {
  content: "\e007"; }

.fui-lock-24:before {
  content: "\e009"; }

body {
  color: #34495e;
  font: 14px/1.231 "Lato", sans-serif;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=") repeat scroll 0% 0% rgb(85, 85, 85);  
 }

a {
  color: #1abc9c;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  a:hover {
    color: #2ecc71;
    text-decoration: none; }

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px; }

h4 {
  color: #fff;
}

.messege {
  font-size: 15px; 
  color: red;
}

.center-position {
  margin: 7% 35%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid #dce4ec;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 8px 0 9px 10px;
  text-indent: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  textarea:-moz-placeholder,
  input[type="text"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="datetime"]:-moz-placeholder,
  input[type="datetime-local"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  input[type="month"]:-moz-placeholder,
  input[type="time"]:-moz-placeholder,
  input[type="week"]:-moz-placeholder,
  input[type="number"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="url"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="color"]:-moz-placeholder,
  .uneditable-input:-moz-placeholder {
    color: #acb6c0; }
  textarea::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="datetime"]::-webkit-input-placeholder,
  input[type="datetime-local"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="month"]::-webkit-input-placeholder,
  input[type="time"]::-webkit-input-placeholder,
  input[type="week"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="color"]::-webkit-input-placeholder,
  .uneditable-input::-webkit-input-placeholder {
    color: #acb6c0; }
  textarea.placeholder,
  input[type="text"].placeholder,
  input[type="password"].placeholder,
  input[type="datetime"].placeholder,
  input[type="datetime-local"].placeholder,
  input[type="date"].placeholder,
  input[type="month"].placeholder,
  input[type="time"].placeholder,
  input[type="week"].placeholder,
  input[type="number"].placeholder,
  input[type="email"].placeholder,
  input[type="url"].placeholder,
  input[type="search"].placeholder,
  input[type="tel"].placeholder,
  input[type="color"].placeholder,
  .uneditable-input.placeholder {
    color: #acb6c0; }
  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border-color: #1abc9c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .control-group.error textarea, .control-group.error
  input[type="text"], .control-group.error
  input[type="password"], .control-group.error
  input[type="datetime"], .control-group.error
  input[type="datetime-local"], .control-group.error
  input[type="date"], .control-group.error
  input[type="month"], .control-group.error
  input[type="time"], .control-group.error
  input[type="week"], .control-group.error
  input[type="number"], .control-group.error
  input[type="email"], .control-group.error
  input[type="url"], .control-group.error
  input[type="search"], .control-group.error
  input[type="tel"], .control-group.error
  input[type="color"], .control-group.error
  .uneditable-input {
    border-color: #e74c3c;
    color: #e74c3c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .control-group.error textarea:focus, .control-group.error
    input[type="text"]:focus, .control-group.error
    input[type="password"]:focus, .control-group.error
    input[type="datetime"]:focus, .control-group.error
    input[type="datetime-local"]:focus, .control-group.error
    input[type="date"]:focus, .control-group.error
    input[type="month"]:focus, .control-group.error
    input[type="time"]:focus, .control-group.error
    input[type="week"]:focus, .control-group.error
    input[type="number"]:focus, .control-group.error
    input[type="email"]:focus, .control-group.error
    input[type="url"]:focus, .control-group.error
    input[type="search"]:focus, .control-group.error
    input[type="tel"]:focus, .control-group.error
    input[type="color"]:focus, .control-group.error
    .uneditable-input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .control-group.success textarea, .control-group.success
  input[type="text"], .control-group.success
  input[type="password"], .control-group.success
  input[type="datetime"], .control-group.success
  input[type="datetime-local"], .control-group.success
  input[type="date"], .control-group.success
  input[type="month"], .control-group.success
  input[type="time"], .control-group.success
  input[type="week"], .control-group.success
  input[type="number"], .control-group.success
  input[type="email"], .control-group.success
  input[type="url"], .control-group.success
  input[type="search"], .control-group.success
  input[type="tel"], .control-group.success
  input[type="color"], .control-group.success
  .uneditable-input {
    border-color: #2ecc71;
    color: #2ecc71;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .control-group.success textarea:focus, .control-group.success
    input[type="text"]:focus, .control-group.success
    input[type="password"]:focus, .control-group.success
    input[type="datetime"]:focus, .control-group.success
    input[type="datetime-local"]:focus, .control-group.success
    input[type="date"]:focus, .control-group.success
    input[type="month"]:focus, .control-group.success
    input[type="time"]:focus, .control-group.success
    input[type="week"]:focus, .control-group.success
    input[type="number"]:focus, .control-group.success
    input[type="email"]:focus, .control-group.success
    input[type="url"]:focus, .control-group.success
    input[type="search"]:focus, .control-group.success
    input[type="tel"]:focus, .control-group.success
    input[type="color"]:focus, .control-group.success
    .uneditable-input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .control-group.warning textarea, .control-group.warning
  input[type="text"], .control-group.warning
  input[type="password"], .control-group.warning
  input[type="datetime"], .control-group.warning
  input[type="datetime-local"], .control-group.warning
  input[type="date"], .control-group.warning
  input[type="month"], .control-group.warning
  input[type="time"], .control-group.warning
  input[type="week"], .control-group.warning
  input[type="number"], .control-group.warning
  input[type="email"], .control-group.warning
  input[type="url"], .control-group.warning
  input[type="search"], .control-group.warning
  input[type="tel"], .control-group.warning
  input[type="color"], .control-group.warning
  .uneditable-input {
    border-color: #f1c40f;
    color: #f1c40f;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .control-group.warning textarea:focus, .control-group.warning
    input[type="text"]:focus, .control-group.warning
    input[type="password"]:focus, .control-group.warning
    input[type="datetime"]:focus, .control-group.warning
    input[type="datetime-local"]:focus, .control-group.warning
    input[type="date"]:focus, .control-group.warning
    input[type="month"]:focus, .control-group.warning
    input[type="time"]:focus, .control-group.warning
    input[type="week"]:focus, .control-group.warning
    input[type="number"]:focus, .control-group.warning
    input[type="email"]:focus, .control-group.warning
    input[type="url"]:focus, .control-group.warning
    input[type="search"]:focus, .control-group.warning
    input[type="tel"]:focus, .control-group.warning
    input[type="color"]:focus, .control-group.warning
    .uneditable-input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .control-group.info textarea, .control-group.info
  input[type="text"], .control-group.info
  input[type="password"], .control-group.info
  input[type="datetime"], .control-group.info
  input[type="datetime-local"], .control-group.info
  input[type="date"], .control-group.info
  input[type="month"], .control-group.info
  input[type="time"], .control-group.info
  input[type="week"], .control-group.info
  input[type="number"], .control-group.info
  input[type="email"], .control-group.info
  input[type="url"], .control-group.info
  input[type="search"], .control-group.info
  input[type="tel"], .control-group.info
  input[type="color"], .control-group.info
  .uneditable-input {
    border-color: #3498db;
    color: #3498db;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .control-group.info textarea:focus, .control-group.info
    input[type="text"]:focus, .control-group.info
    input[type="password"]:focus, .control-group.info
    input[type="datetime"]:focus, .control-group.info
    input[type="datetime-local"]:focus, .control-group.info
    input[type="date"]:focus, .control-group.info
    input[type="month"]:focus, .control-group.info
    input[type="time"]:focus, .control-group.info
    input[type="week"]:focus, .control-group.info
    input[type="number"]:focus, .control-group.info
    input[type="email"]:focus, .control-group.info
    input[type="url"]:focus, .control-group.info
    input[type="search"]:focus, .control-group.info
    input[type="tel"]:focus, .control-group.info
    input[type="color"]:focus, .control-group.info
    .uneditable-input:focus {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #eaeded;
  border-color: transparent;
  color: #cad2d3;
  cursor: default; }

input,
textarea,
.uneditable-input {
  width: 192px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {}

.login-form {
  background-color: #eceff1;
  border-radius: 6px;
  padding: 24px 23px 1px;
  position: relative;
  margin: 5% 35%;
  width: 317px; }
  .login-form .control-group {
    margin-bottom: 6px;
    position: relative; }
  .login-form .login-field {
    border-color: transparent;
    font-size: 17px;
    padding-bottom: 11px;
    padding-top: 11px;
    text-indent: 3px;
    width: 299px; }
    .login-form .login-field:focus + .login-field-icon {
      color: #1abc9c; }
  .login-form .login-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 14px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }

.login-link {
  color: #bfc9ca;
  display: block;
  font-size: 13px;
  margin-top: 15px;
  text-align: center; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {}
.ptn, .pvn, .pan {
  padding-top: 0; }

.ptx, .pvx, .pax {
  padding-top: 3px; }

.pts, .pvs, .pas {
  padding-top: 5px; }

.ptm, .pvm, .pam {
  padding-top: 10px; }

.ptl, .pvl, .pal {
  padding-top: 20px; }

.prn, .phn, .pan {
  padding-right: 0; }

.prx, .phx, .pax {
  padding-right: 3px; }

.prs, .phs, .pas {
  padding-right: 5px; }

.prm, .phm, .pam {
  padding-right: 10px; }

.prl, .phl, .pal {
  padding-right: 20px; }

.pbn, .pvn, .pan {
  padding-bottom: 0; }

.pbx, .pvx, .pax {
  padding-bottom: 3px; }

.pbs, .pvs, .pas {
  padding-bottom: 5px; }

.pbm, .pvm, .pam {
  padding-bottom: 10px; }

.pbl, .pvl, .pal {
  padding-bottom: 20px; }

.pln, .phn, .pan {
  padding-left: 0; }

.plx, .phx, .pax {
  padding-left: 3px; }

.pls, .phs, .pas {
  padding-left: 5px; }

.plm, .phm, .pam {
  padding-left: 10px; }

.pll, .phl, .pal {
  padding-left: 20px; }

.mtn, .mvn, .man {
  margin-top: 0px; }

.mtx, .mvx, .max {
  margin-top: 3px; }

.mts, .mvs, .mas {
  margin-top: 5px; }

.mtm, .mvm, .mam {
  margin-top: 10px; }

.mtl, .mvl, .mal {
  margin-top: 20px; }

.mrn, .mhn, .man {
  margin-right: 0px; }

.mrx, .mhx, .max {
  margin-right: 3px; }

.mrs, .mhs, .mas {
  margin-right: 5px; }

.mrm, .mhm, .mam {
  margin-right: 10px; }

.mrl, .mhl, .mal {
  margin-right: 20px; }

.mbn, .mvn, .man {
  margin-bottom: 0px; }

.mbx, .mvx, .max {
  margin-bottom: 3px; }

.mbs, .mvs, .mas {
  margin-bottom: 5px; }

.mbm, .mvm, .mam {
  margin-bottom: 10px; }

.mbl, .mvl, .mal {
  margin-bottom: 20px; }

.mln, .mhn, .man {
  margin-left: 0px; }

.mlx, .mhx, .max {
  margin-left: 3px; }

.mls, .mhs, .mas {
  margin-left: 5px; }

.mlm, .mhm, .mam {
  margin-left: 10px; }

.mll, .mhl, .mal {
  margin-left: 20px; }
