/* ------------- FONTS --------------- */

@font-face{
    font-family: Lato;
    src: url("../fonts/lato/Lato-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Sansation;
    src: url("../fonts/sansation/Sansation-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: open-sans;
    src: url("../fonts/open-sans/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------- */

body {
    background: url("../images/tweed.png");
    font-family: Sansation, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #444;
    opacity : 0;
    transition: opacity 1s;
}

.page-loaded {
    opacity: 1;
}

.hidden {
    display: none;
}

/*---------------- MAP ----------------*/

.carte {
    height: 86%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    transition: opacity 1s;
    overflow: hidden;
}

.info-window-title {
    font-size: 14px !important;
    font-weight: bold !important;
}

.info-window-body {
    font-size: 13px !important;
}

.info-window-body img {
    vertical-align: middle !important;
}

.info-window-title:hover {
    background-color: inherit !important;
}

.info-window-info {
    display: inline-block !important;
}

/*-------------------------------------*/

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/*-------------------------------------*/

.mailto {
    display: inline-block;
}

.mailto > a {
    padding:0 !important;
    background:#fff !important;
    border-radius:5px !important;
    height: 24px;
}

.fb-like {
    padding-bottom: 3px
}

.form-holder {
    transition: all 0.7s linear 0s;
    position: fixed;
    left: 50%;
    z-index: 2;
    height: 0;
    top: 10px;
    transform: translate(-50%);
}

.form-wrapper {
    transition: all 0.3s ease 0s;
    left: 350px;
    width: 576px;
    padding: 10px 10px 12px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.form-wrapper-input {
    width: 485px;
    height: 21px;
    padding: 10px 45px;
    float: left;
    font: bold 16px open-sans;
    border: 0;
    background: #eee;
    border-radius: 0;
    border: 0;
}

input:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

.form-wrapper-input:focus {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper-button {
    position: absolute;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    width: 35px;
    background: #d83c3c;
    border-radius: 3px;
    margin: 3px -39px;
}

.form-wrapper-button:hover{
    background: #e54040;
}

.form-wrapper-button:active,
.form-wrapper-button:focus{
    background: #c42f2f;
}

.form-wrapper-button img {
    margin: 49%;
    width: 100%;
    transform: translate(-53%, -50%);
}

.form-wraper-location {
   border: 0;
   cursor: pointer;
   position: absolute;
   background: #d83c3c;
   height: 35px;
   width: 35px;
   border-radius: 3px;
   margin: 3px;
}

.form-wraper-location:hover {
    background: #e54040;
}

.form-wraper-location img {
    width: 90%;
    margin: 50%;
    transform: translate(-52%, -53%);
}

.form-wraper-amount {
   border: 0;
   position: absolute;
   width: 35px;
   height: 11px;
   font: bold 10px 'Lato','lucida sans', 'trebuchet MS', 'Tahoma';
   color: #fff;
   background: #d83c3c;
   border-radius: 3px;
   text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
   text-align: center;
   margin: 42px -39px;
   padding: 0;
   font-weight: 300;
}

.ui-widget-header {
    background: no-repeat scroll 0% 0% rgb(216, 60, 60);
    border-radius: 0;
}

.ui-widget-content {
    background: none;
    border: none;
}

.sliderContainer {
    background: #eee;
    width: 520px;
    position: relative;
    float: left;
    padding-right: 55px;
    border-right: 0px solid #D83C3C;
    border-bottom: 0px solid #D83C3C;
}

.ui-slider-handle {
    margin-left: -2px !important;
    width: 11px !important;
    height: 11px !important;
    cursor: move !important;
    margin: 4px 0px 0px 0px;
    border: 2px solid #FAFAFA !important;
    box-shadow: 0px 1px 2px rgba(34, 25, 25, 0.4);
}

.form-wraper-range-extended {
    border-radius: 0;
}

.ui-autocomplete {
    cursor: pointer;
    opacity: 0.9;
    padding: 5px;
    font-size: 14px;
    color: #000;
    font-family: "Lato", "Lucida Grande", arial, sans-serif;
    background-color: #fff;
    z-index: 5;
}

.ui-menu-item {}

#ui-active-menuitem {}


.logo-old {
    width: 200px;
    height: 90px;
    margin-top: -10;
    margin-left: 30;
}

.optionsBtn {
    z-index: 5;
    opacity: 0.6;
    width: 100px;
    height: 10px;
    position: fixed;
    box-shadow: 2px 2px 2px;
    top: 77px;
    left: 50%;
    transform: translate(-50%);
    border: 5px;
    border-color: #d83c3c;
    border-radius: 0px 0px 20px 20px;
    border-style: solid solid none;
    border-width: 0 10px 0px 10px;
    cursor: pointer;
}

.optionsBtn:hover {
    background: #d83c3c;
    border-color: #fff;
    opacity: 0.8;
    box-shadow: 5px 5px 5px;
}

.optionsBtn:before {
    content: '';
    display: block;
    position: absolute;
    border-width: 8px 8px 8px;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: -3px;
    right: 35px;
    transform: rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
}

.optionsBtn:before:-webkit {
    top: 25px;
}

.optionsBtn:hover:before {
    border-color: transparent #fff transparent;
}

.extendShadow {
    padding: 10px;
}

.changeBtn {
    top: 105px;
}

.changeBtn:before {
    top: -3px;
    transform: rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.changeBtn:before:-webkit {
    top: -35px;
}

.hideInput {
    display: none;
}

.showInput {
    display: inline;
}

.artist-input {
    border-radius: 0 0 4px 4px;
    border-top: 0;
    height: 30px;
    padding: 0px 45px;
}

.showInfo {
    right: 240px !important;
    transition: all 0.3s ease 0s;
}

.reduceMapSize {
    width: 81.2%;
    transition: all 0.3s ease 0s;
}

.logo {
    width: 200px;
    height: 90px;
    background-size: 200px 90px;
    margin: 0;
    position: fixed;
    left: 2%;
}

.logo img {
    width: 100%;
}

.logo > h1 {
    display: none;
}

.header {
    width:100%;
    height: 100px;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    z-index: 3;
    background: url("../images/tweed.png");
    box-shadow: 0 3px 5px #311;
}

.ad {
    background-color: #fff;
    position: absolute;
    top: 15.5%;
    width: 150px;
    height: 84.6%;
    left: 88.3%;
}

.footer {
    position: relative;
    bottom: 5px;
    border-top: 1px solid #C42F2F;
    width: 100%;
}

/* ------------ TILES.CSS ------------ */
.tiles-box {
    width: 1190px;
    margin-top: 105px;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 0.56em;
}

.tile {
    width: 350px;
    height: 130px;
    background-color: #EEE;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    animation: fadein 2s;
    animation-fill-mode: forwards;
    transition-duration: 0.1s;
    overflow: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tile:hover {
    box-shadow: 4px 4px 5px #000;
    transform: scale(1.05);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tile > a > img {
    padding-right: 5px;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    max-height: 130px;
    max-width: 130px;
}

.tile a {
    color : #2A5DB0;
}

.tile a:hover {
    color : #EEE;
}

.tile-title {
    font-size: 14px;
    box-shadow: 0px 1px 2px rgba(34, 25, 25, 0.4);
    padding-left: 3px;
    max-height: 16px;
    overflow: hidden;
}

.tile-title:hover {
    background-color: #2A5DB0;
}

.tile-body {
    font: 12px Lato, Arial, sans-serif;
    max-height: 90px;
    overflow: hidden;
}

.tile-info {
    max-width: 200px;
    max-height: 100%;
    display: inherit;
    padding-left: 5px;
    vertical-align: middle;
}

.fadeout {
    display: none;
}

.shareBtns {
    margin-top: 3px;
    max-height: 25px;
    display: inline-block;
}

.shareBtns > a {
    margin-left: 5px;
}

.shareBtns > a > img:hover {
    transform: scale(1.07);
}

.campaign {
    font-size: 7px;
    position: absolute;
}

.campaign p {
    position: relative;
    top: 121px;
}

.tiles-box > .msg {
    font-size: 1.8em;
    color: #000;
    padding: 5px;
    text-align: center;
    background-color: #ddd;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #000 inset, 0px 0px 1px transparent;
}

.tiles-box > .msg a {
    color: #C42F2F;
}

/* ---------- DEFUALT.CSS ----------*/
a {
    text-decoration: none;
}

a:hover {}

.main {
    position: fixed;
    transition: all 0.3s ease 0s;
    z-index: 5;
    right: 0;
    top: 23px;
}

.main > section button {
    border: none;
    background: #D83C3C;
    color: #fff;
    display: block;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    transition: all 0.3s ease 0s;
}

.main > section img {
    height: 23px;
}

.main > section button:hover {
    background: #E54040;
}

.main > section button.active {
    background: #C42F2F;
    right: 240px;
    transition: all 0.3s ease 0s;
}

.main > section button.disabled {
    background: #aaa;
    pointer-events: none;
}

.info {
    color: rgb(255, 255, 255);
    padding: 0.8em;
    font-size: 0.85em;
}

/* ------------ COMPONENT.CSS ------------- */
/* General styles for all menus */
.cbp-spmenu {
    background: #D83C3C;
    position: fixed;
    font-family: Lato;
}

.cbp-spmenu h3 {
    color: #fff;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #C42F2F;
}

.cbp-spmenu a {
    display: block;
    color: #fff;
}

.cbp-spmenu a:hover {
    background: #E54040;
}

.cbp-spmenu a:active {
    background: #C42F2F;
    color: #fff;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 5;
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #C42F2F;
    padding: 1em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Push classes applied to the body */

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Example media queries */

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

}

/* ------------- MEDIA.CSS ---------- */
@media screen and (max-width: 900px){
    .header {
        height: 81px;
    }

    .logo {
        background: url(../images/logo-minimized.png) no-repeat;
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
        top: 10px;
    }

    .header {
        height: 110px;
    }

    .logo img {
        display: none;
    }

    .form-wrapper {
       width: 430px;
    }

    .form-wrapper-input {
       width: 350px;
       height: 36px;
       padding: 5px 40px;
    }

    .form-wrapper-button {
       height: 35px;
       width: 35px;
       margin: 5px -38px;
    }

    .sliderContainer {
        width: 375px;
    }

    .form-wraper-range {
       width: 380px;
    }

    .form-wraper-amount {
        margin: 47px -34px;
        width: 30px;
        font-weight: 300;
        font-size: 6pt;
    }

    .form-wraper-location {
       height: 35px;
       width: 35px;
       margin-top: 5px;
    }

    .optionsBtn {
       top: 82px;
    }

    .changeBtn {
       top: 120px;
    }

    .extendShadow {
        padding: 10px;
    }

    .artist-input {
       height: 30px;
    }

    .tiles-box {
        width: 100%;
        margin-top: 115px;
    }

}

@media screen and (max-width: 480px){
    .header {
        height: 81px;
    }

    #carte {
        height: 90.5%;
    }

    .form-wrapper {
        margin-top: 0;
        width: 275px;
        padding: 5px 5px 6px ;
        border-radius: 5px;
    }

    .form-wrapper-input {
        width: 205px;
        height: 24px;
        padding: 5px 35px;
        font-size: 9pt;
    }

    .form-wrapper-button {
        height: 25px;
        width: 25px;
        margin: 4px -29px;
    }

    .form-wraper-location {
        height: 25px;
        width: 25px;
        margin: 4px;
    }

    .form-wraper-amount {
        width: 25px;
        height: 8px;
        font-size: 5pt;
        font-weight: 300;
        margin: 35px -29px;
    }

    .sliderContainer {
        width: 220px;
    }

    .form-wraper-range {
        width: 235px;
        height: 10px;
    }

    .ui-slider-handle {
       top: -6px !important;
       height: 10px !important;
       width: 10px !important;
    }

    .logo {
        display: none;
    }

    .main > section button {
       width: 25px;
       height: 27px;
    }

    .main > section button.active {
        right: 170px;
    }

    .main > section img {
       height: 15px;
    }

    .cbp-spmenu-vertical {
        width: 170px;
    }

    .showInfo {
        right: 169px !important;
    }

    .cbp-spmenu {
        font-size: 9pt;
    }

    .reduceMapSize {
        width: 55.4%;
    }

    .ui-autocomplete {
        width: 187px;
        font-size: 11px;
    }

    .ui-menu-item {
        margin: 0px 10px;
        padding: 3px 0 3px 0;
    }

    .optionsBtn {
        width: 70px;
        height: 8px;
        top: 55px;
    }

    .optionsBtn:before {
        border-width:  7px 7px 7px;
        top: -3px;
        right: 22px;
    }

    .extendShadow {
        padding: 5px 5px 5px;
    }

    .changeBtn {
        top: 76px;
    }

    .changeBtn:before {
        top: -3px;
        transform: rotate(90deg);
        -ms-transform:rotate(90deg); /* IE 9 */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
    }

    .artist-input {
        height: 18px;
        padding: 2px 35px;
    }

    /*--------- TILES ---------*/
    .tiles-box {
        margin-top: 85px;
    }

    .tile {
        max-width: 88%;
    }

    .tile-info {
        max-width: 69%;
    }

    .tile > a > img {
        max-width: 23%;
        max-height: 70%;
    }
}