/* ------------- FONTS --------------- */

@font-face{
    font-family: Lato;
    src: url("../fonts/lato/Lato-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Sansation;
    src: url("../fonts/sansation/Sansation-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: open-sans;
    src: url("../fonts/open-sans/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/glyphicons/Flaticon/Flaticon.eot");
  src: url("../fonts/glyphicons/Flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/glyphicons/Flaticon/Flaticon.woff") format("woff"),
       url("../fonts/glyphicons/Flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/glyphicons/Flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-magnifying-glass:before { content: "\f118"; }

@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('../fonts/glyphicons/Flat-ui/flat-ui-icons-regular.eot');
  src: url('../fonts/glyphicons/Flat-ui/flat-ui-icons-regular.eot?#iefix') format('embedded-opentype')
  , url('../fonts/glyphicons/Flat-ui/flat-ui-icons-regular.woff') format('woff')
  , url('../fonts/glyphicons/Flat-ui/flat-ui-icons-regular.ttf') format('truetype')
  , url('../fonts/glyphicons/Flat-ui/flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
}
[class^="fui-"],
[class*="fui-"] {
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fui-cross-circle:before {
    content: "\e613";
}
.fui-location:before {
    content: "\e627";
}
.fui-list:before {
    content: "\e61a";
}
.fui-arrow-left:before {
    content: "\e606";
}
.fui-arrow-right:before {
    content: "\e607";
}
.fui-search:before {
    content: "\e630";
}

/* ----------------------------------- */

body {
    background: url("../images/tweed.png");
    font-family: Sansation, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #444;
    opacity : 0;
    transition: opacity 1s;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

.page-loaded {
    opacity: 1;
}

.hidden {
    display: none;
}

.logo {
    width: 150px;
    background-size: 200px 90px;
    position: relative;
    left: 2%;
    z-index: 1;
}

.logo img {
    width: 100%;
}

.logo > h1 {
    display: none;
}

.header {
    width: 100%;
    height: 70px;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    z-index: 3;
}

.header::after {
    position: inherit;
    width: inherit;
    height: inherit;
    content: "";
    top: 0;
    z-index: 0;
    background: transparent url("../images/tweed.png") repeat scroll 0% 0%;
}


.header-nav {
    width: inherit;
    background-color: #333;
    margin-top: -2px;
    box-shadow: 0px 3px 3px #311 inset;
    padding-top: 7px;
    text-align: center;
    position: static;
    color: #eee;
}

.header-nav::after {
    content: "";
    position: inherit;
    height: 7px;
    width: inherit;
    box-shadow: 0 3px 3px #311;
    display: block;
}

.header-nav li {
    margin-left: 30px;
}

.header-nav a {
    color: #eee;
}

.header-nav a:hover {
    color: #c42f2f;
}

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

/*---------------- MAP ----------------*/

#carte-container {
    width: 75%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.carte {
    height: 100%;
}

#mini-tiles-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    top: 135px;
}

.info-window-title {
    font-size: 14px !important;
    font-weight: bold !important;
}

.info-window-body {
    font-size: 13px !important;
}

.info-window-body img {
    vertical-align: middle !important;
}

.info-window-title:hover {
    background-color: inherit !important;
}

.info-window-info {
    display: inline-block !important;
}

/*-------------------------------------*/

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}

/*-------------------------------------*/

.form-holder {
    position: absolute;
    left: 50%;
    z-index: 2;
    height: 0;
    top: 15px;
    transform: translate(-50%);
}

.form-wrapper {
}

.form-wrapper-input {
    width: 340px;
    height: 15px;
    padding: 10px 190px 10px 45px;;
    float: left;
    font: bold 16px open-sans;
    border: 0;
    background: #eee;
    border-radius: 0;
}

.clear-address, .clear-artist {
    position: absolute;
    top: 11px;
    display: none;
}

.clear-address {
    right: 205px;
}

.clear-artist {
    right: 60px;
}

input:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

.form-wrapper-input:focus {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper-button,
.form-wraper-location,
.form-wraper-amount,
.main > section button {
    position: absolute;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 42px;
    width: 35px;
    background: #d83c3c;
    color: #fff;
    font-size: 1.3em;
    z-index: 1;
}

.form-wrapper-button {
    right: 0;
}

.form-wrapper-button:hover,
.form-wraper-location:hover,
.main > section button:hover {
    background: #e54040;
}

.form-wrapper-button:active,
.form-wrapper-button:focus,
.form-wraper-location:active,
.main > section button:active {
    background: #c42f2f;
}

.form-wraper-location {
}

.form-wraper-amount {
   height: 11px;
   font: bold 10px 'Lato','lucida sans', 'trebuchet MS', 'Tahoma';
   text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
   text-align: center;
   margin: 42px -39px;
   font-weight: 300;
   display: none;
}

.ui-widget-header {
    background: no-repeat scroll 0% 0% rgb(216, 60, 60);
    border-radius: 0;
}

.ui-widget-content {
    background: none;
    border: none;
    height: 7px;
}

.sliderContainer {
    background: #eee;
    width: 561px;
    position: relative;
    float: left;
    padding: 0 40px 0 35px;
}

.ui-slider-handle {
    margin-left: -2px !important;
    width: 9px !important;
    height: 9px !important;
    cursor: move !important;
    margin: 4px 0px 0px 0px;
    background: #aaa !important;
    border: 0 !important;
}

.form-wraper-range-extended {
    border-radius: 0;
}

.ui-autocomplete {
    cursor: pointer;
    opacity: 0.9;
    padding: 5px;
    font-size: 14px;
    color: #000;
    font-family: "Lato", "Lucida Grande", arial, sans-serif;
    background-color: #fff;
    z-index: 5;
}

.ui-menu-item {}

#ui-active-menuitem {}

.artist-input {
    padding: 10px 15px;
    position: absolute;
    max-width: 150px;
    right: 11px;
    border-left: 1px dotted #d83c3c;
}

.showInfo {
    right: 240px !important;
    transition: all 0.3s ease 0s;
}

.ad {
    background-color: #fff;
    position: absolute;
    top: 15.5%;
    width: 150px;
    height: 84.6%;
    left: 88.3%;
}

.footer {
    border-top: 1px solid #C42F2F;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* ------------ TILES.CSS ------------ */
.tiles-container {
    text-align: center;
    margin: 135px auto auto auto;
}

.tiles-box {
    width: 100%;
    font-size: 0.56em;
}

.tile {
    width: 390px;
    height: 150px;
    background-color: #EEE;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    animation: fadein 2s;
    animation-fill-mode: forwards;
    transition-duration: 0.1s;
    overflow: hidden;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tile:hover {
    box-shadow: 4px 4px 5px #000;
    transform: scale(1.05);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tile > a > img {
    vertical-align: middle;
    height: 100%;
    max-width: 150px;
    float: left;
}

.tile a {
    color : #2A5DB0;
}

.tile a:hover {
    color : #EEE;
}

.tile-title {
    font-size: 14px;
    box-shadow: 0px 1px 2px rgba(34, 25, 25, 0.4);
    padding-left: 3px;
    max-height: 16px;
    overflow: hidden;
}

.tile-title:hover {
    background-color: #2A5DB0;
}

.tile-title > div {
    white-space: nowrap;
}

.tile-txt:hover {
    animation: tile-txt 5s linear infinite;
}

@keyframes tile-txt {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.tile-body {
    font: 12px Lato, Arial, sans-serif;
    max-height: 90px;
    overflow: hidden;
}

.tile-info {
    max-width: 220px;
    max-height: 100%;
    display: inherit;
    vertical-align: middle;
    text-align: left;
}

.shareBtns {
    margin-top: 3px;
    max-height: 25px;
    display: inline-block;
}

.shareBtns > a {
    margin-left: 5px;
}

.shareBtns > a > img:hover {
    transform: scale(1.07);
}

.campaign {
    font-size: 7px;
    position: absolute;
}

.campaign p {
    position: relative;
    top: 121px;
}

.msg {
    font-size: 1.8em;
    color: #000;
    padding: 5px;
    text-align: center;
    background-color: #ddd;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #000 inset, 0px 0px 1px transparent;
}

.msg a {
    color: #C42F2F;
}

#alert-msg {
    position: relative;
    z-index: 5;
    font-size: 0.9em;
    background-color: orange;
    box-shadow: 0 0 0;
    border-radius: 0;
    opacity: .9;
    padding: 0;
}

/* ---------- DEFUALT.CSS ----------*/
a {
    text-decoration: none;
}

.main {
    position: fixed;
    z-index: 5;
    right: 0;
    top: 15px;
}

.main > section button {
    transform: translateX(-100%);
    border-radius: 3px 0 0 3px;
    height: 35px;
}

.main > section button:disabled {
    background: #aaa;
    pointer-events: none;
}

.info {
    color: rgb(255, 255, 255);
    padding: 0.8em;
    font-size: 0.85em;
}

/* ------------ COMPONENT.CSS ------------- */
/* General styles for all menus */
.cbp-spmenu {
    background: #D83C3C;
    position: fixed;
    font-family: Lato;
}

.cbp-spmenu h3 {
    color: #fff;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #C42F2F;
}

.cbp-spmenu a {
    display: block;
    color: #fff;
}

.cbp-spmenu a:hover {
    background: #E54040;
}

.cbp-spmenu a:active {
    background: #C42F2F;
    color: #fff;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 5;
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #C42F2F;
    padding: 1em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
    right: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

/* Push classes applied to the body */

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
}

/*-------- Page Nav ---------*/
.page-nav {
    text-align: center;
    margin: 20px;
}

.page-nav a {
    padding: .45em;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #311;
    background-color: #d83c3c;
    color: #eee;
    font-size: .8em;
    margin-right: 10px;
    display: inline-block;
    width: 20px;
}

.page-nav a:hover {
    background-color: #e54040;
}

.page-nav a:active {
    background-color: #c42f2f;
}

/* Media queries */

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

}

/* ------------- MEDIA.CSS ---------- */
@media screen and (max-width: 900px){
    .header {
        height: 81px;
    }

    .logo {
        background: url(../images/logo-minimized.png) no-repeat;
        width: 60px;
        height: 60px;
        background-size: 60px 60px;
        top: 10px;
    }

    .header {
        height: 110px;
    }

    .logo img {
        display: none;
    }

    .form-wrapper {
       width: 430px;
    }

    .form-wrapper-input {
       width: 195px;
       height: 36px;
       padding: 5px 190px 5px 45px;
    }

    .form-wrapper-button {
       height: 35px;
       width: 35px;
       margin: 5px -38px;
    }

    .sliderContainer {
        width: 375px;
    }

    .form-wraper-range {
       width: 380px;
    }

    .form-wraper-amount {
        margin: 47px -34px;
        width: 30px;
        font-weight: 300;
        font-size: 6pt;
    }

    .form-wraper-location {
        height: 35px;
        width: 35px;
        margin-top: 5px;
    }

    .artist-input {
        right: 10px;
        padding: 5px 38px 5px 10px;
        width: 135px;
    }

    .header-nav {
        margin-top: 40px;
    }

    .tiles-container {
        margin-top: 140px;
    }

    #mini-tiles-box {
        display: none;
    }

    #carte-container {
        height: 85% !important;
        width: 100% !important;
        bottom: 0;
    }

}

@media screen and (max-width: 480px){
    .header {
        height: 81px;
    }

    .form-wrapper {
        margin-top: 0;
        width: 275px;
        padding: 5px 5px 6px ;
        border-radius: 5px;
    }

    .form-wrapper-input {
        width: 110px;
        height: 24px;
        padding: 5px 130px 5px 35px;
        font-size: 9pt;
    }

    .clear-address, .clear-artist {
        top: 13px;
    }

    .clear-address {
        right: 135px;
    }

    .form-wrapper-button,
    .form-wraper-location,
    .form-wraper-amount,
    .main > section button {
        height: 25px;
        width: 25px;
        font-size: 1em;
    }

    .form-wrapper-button {
        margin: 4px -29px;
    }

    .form-wraper-location {
        margin: 4px;
        left: 5px;
    }

    .artist-input {
        padding: 5px 35px 5px 10px;
        width: 80px;
        right: 5px;
    }

    .clear-artist {
        right: 40px;
    }

    .form-wraper-amount {
        height: 8px;
        font-size: 5pt;
        font-weight: 300;
        margin: 35px -29px;
    }

    .sliderContainer {
        width: 220px;
    }

    .form-wraper-range {
        width: 235px;
        height: 10px;
    }

    .ui-slider-handle {
       top: -6px !important;
       height: 10px !important;
       width: 10px !important;
    }

    .logo {
        display: none;
    }

    .main {
        bottom: 4px;
        top: unset;
    }

    .main > section button {
       bottom: 10px;
    }

    .cbp-spmenu-vertical {
        width: 170px;
    }

    .showInfo {
        right: 169px !important;
    }

    .cbp-spmenu {
        font-size: 9pt;
    }

    .ui-autocomplete {
        width: 187px;
        font-size: 11px;
    }

    .ui-menu-item {
        margin: 0px 10px;
        padding: 3px 0 3px 0;
    }

    .header-nav {
        margin-top: 81px;
    }

    /*--------- TILES ---------*/
    .tiles-container {
        margin-top: 110px;
    }

    .tile {
        max-width: 88%;
        text-align: left;
    }

    .tile-info {
        max-width: 69%;
    }

    .tile > a > img {
        max-width: 23%;
        max-height: 70%;
        float: initial;
        padding-left: 5px;
        padding-right: 5px;
    }

    .page-nav a {
        padding: .5em;
        width: 15px;
    }

}