body {
    background: #555 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpi/P//PwM6YGLAAuCCmpqacC2MRGsHCDAA+fIHfeQbO8kAAAAASUVORK5CYII=);
    height: 100%;
    margin: 0px;
    padding: 0px;
    font: bold 15px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #444;
    }
    
    a {}
    
    /*--------------------------------------*/
    
    .carte {
        height: 89%;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .info-window-title {
        font-size: 14px !important;
        font-weight: bold !important;
    }

    .info-window-body {
        font-size: 13px !important;
    }
    
    /*-------------------------------------*/
    
    .cf:before, .cf:after{
        content:"";
        display:table;
    }
    
    .cf:after{
        clear:both;
    }

    .cf{
        zoom:1;
    }

    /*-------------------------------------*/   
    
    .mailto a {
        border:none !important;
        padding:0 !important;
        background:#fff !important;
        width:25px !important;
        margin-right:4px !important;
        border-radius:5px !important;
    }

    .mailto:hover a {
        background-color: #fff !important;
    }


    .form-holder {
        position: absolute;
        left: 30%;
        z-index: 2;
        height: 0;
        top: 10px;
    }

    .form-wrapper {
        transition: all 0.3s ease 0s;
        left: 350px;
        width: 576px;
        padding: 10px 10px 12px;
        background: #444;
        background: rgba(0,0,0,.2);
        border-radius: 10px;
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    
    .form-wrapper-input {
        width: 575px;
        height: 41px;
        padding: 10px 45px;
        float: left;
        font: bold 16px 'Lato', 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background: #eee;
        border-radius: 0;
        border: solid 1px rgb(216, 60, 60);
    }
    
    .form-wrapper-input:focus {
        outline: 0;
        background: #fff;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper-button {
        position: fixed;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 35px;
        width: 35px;
        background: #d83c3c;
        border-radius: 3px;
        margin: 3px -39px;
    }
      
    .form-wrapper-button:hover{ 
        background: #e54040;
    }   
      
    .form-wrapper-button:active,
    .form-wrapper-button:focus{
        background: #c42f2f;
    }

    .form-wrapper-button img {
        margin: -4px;
    }
    
    .form-wraper-location {
       border: 0; 
       cursor: pointer;
       position: fixed;
       background: #d83c3c;
       height: 35px;
       width: 35px;
       border-radius: 3px;
       margin: 3px;
    }
    
    .form-wraper-location:hover {
        background: #e54040;
    }
    
    .form-wraper-location img {
        position: fixed;
        margin: 2px;
    }
    
    .form-wraper-amount {
       border: 0;
       position: fixed;
       width: 35px;
       height: 10px;
       font: bold 10px 'Lato','lucida sans', 'trebuchet MS', 'Tahoma';
       color: #fff;
       background: #d83c3c;
       border-top: 1px solid #eee;
       border-radius: 3px;
       text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
       text-align: center;
       margin: 42px -39px;
       padding: 0;
    }

    .ui-widget-header {
        background: no-repeat scroll 0% 0% rgb(216, 60, 60);
        border-radius: 0;
    }

    .ui-widget-content {
        background: none;
        border: none;
    }

    .sliderContainer {
        background: #eee;
        width: 519px;
        position: relative;
        float: left;
        padding-right: 55px;
        border-right: 1px solid #D83C3C;
        border-bottom: 1px solid #D83C3C;
    }

    .ui-slider-handle {
        margin-left: -2px !important;
        width: 11px !important;
        height: 11px !important;
        cursor: move !important;
        margin: 5px 0;
        border: 1px solid #555 !important;
    }
    
    .form-wraper-range-extended {
        border-radius: 0;
    }
    
    .ui-autocomplete {
        cursor: pointer;
        opacity: 0.9;
        padding: 5px;
        font-size: 14px;
        color: #000;
        font-family: "Lato", "Lucida Grande", arial, sans-serif;
        background-color: #fff;
        z-index: 3;
    }
    
    .ui-menu-item {
    }
    
    #ui-active-menuitem {
    }
    
    .logo-old {
        width: 200px;
        height: 90px;
        margin-top: -10;
        margin-left: 30;
    }
    
    .optionsBtn {
        z-index: 2;
        opacity: 0.6;
        width: 100px;
        height: 10px;
        position: absolute;
        content: "";
        box-shadow: 2px 2px 2px;
        top: 76px;
        left: 250px;
        background: #fff;
        border: 5px;
        border-color: #d83c3c;
        border-radius: 0px 0px 20px 20px;
        border-style: solid solid none;
        border-width: 0 10px 0px 10px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    .optionsBtn:hover {
        background: #d83c3c;
        border-color: #fff;
        opacity: 0.8;
        box-shadow: 5px 5px 5px;
    }
    
    .optionsBtn:before {
        content: '';
        display: block;
        position: absolute;
        border-width: 8px 8px 8px;
        border-style: solid solid solid none;
        border-color: transparent #d83c3c transparent;
        top: -3px;
        right: 35px;
        transform: rotate(270deg);
        -ms-transform:rotate(270deg); /* IE 9 */
        -webkit-transform:rotate(270deg); /* Safari and Chrome */
    }

    .optionsBtn:before:-webkit {
        top: 25px;
    }
    
    .optionsBtn:hover:before {
        border-color: transparent #fff transparent;
    }
    
    .extendShadow {
        padding: 10px;
    }
    
    .changeBtn {
        top: 104px;
        left: 250px;
    }
    
    .changeBtn:before {
        top: -3px;
        transform: rotate(90deg);
        -ms-transform:rotate(90deg); /* IE 9 */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
    }

    .changeBtn:before:-webkit {
        top: -35px;
    }
    
    .hideInput {
        display: none;
    }
    
    .showInput {
        display: inline;
    }
    
    .artist-input {
        border-radius: 0 0 4px 4px;
        border-top: 0;
        height: 30px;
        padding: 0px 5px;
    }

    .showInfo {
        right: 240px !important;
        transition: all 0.3s ease 0s;
    }

    .reduceMapSize {
        width: 81.2%;
        transition: all 0.3s ease 0s;
    }
    
    .logo {
        background: url(../images/logored-shadow.png) no-repeat;
        width: 200px;
        height: 80px;
        background-size: 200px 90px;
        margin: -10px 30px;
    }
    
    .mt {
        width: 0;
        height: 0;
    }

    .ad {
        background-color: #fff;
        position: absolute;
        top: 15.5%;
        width: 150px;
        height: 84.6%;
        left: 88.3%;
    }