.tiles-box {
	width: 100%;
	height: 78%;
	margin-top: 25px;
}

.tile {
	width: 350px;
	height: 130px;
	background-color: #EEE;
	padding: 10px;
	display: inline-block;
	margin: 10px;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	cursor: pointer;
	animation: fadein 2s;
	animation-fill-mode: forwards;
	transition-duration: 0.1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tile:hover {
	box-shadow: 4px 4px 5px #000;
	transform: scale(1.05);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.tile > img {
	padding-right: 5px;
	border-right: 1px solid #ccc;
	vertical-align: middle;
	max-height: 130px;
}

.tile-title {
    font-size: 14px;
    box-shadow: 0px 1px 2px rgba(34, 25, 25, 0.4);
}

.tile-body {
    font: 12px "Lato";
}

.tile-info {
	max-width: 200px;
	max-height: 130px;
	display: inherit;
	padding-left: 10px;
	vertical-align: middle;
}

.tile-link {
	color: initial;
}

.fadeout {
	display: none;
}

.shareBtns {
	margin-top: 3px;
	max-height: 25px;
}

.shareBtns > a {
	margin-left: 5px;
}